<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/title.ico" rel="icon" type="image/x-icon" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <nav class="nav nav-pills nav-justified bg-info text-dark">
            <a class="nav-item nav-link" href="/Admin/AdminIndex">用户管理</a>
            <a class="nav-item nav-link" href="/Admin/AdminSelAllCourse">课程管理</a>
            <a class="nav-item nav-link" href="#">选课截止时间</a>
            <a class="nav-item nav-link" href="/Admin/CourseQues">客服答疑</a>
        </nav>
        @RenderBody()
    </div>
</body>
</html>

