
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<div style="margin:auto">
    <h2 style="text-align: center; font-size:28px"><b>中天<span style="color:#AAA">教育</span></b></h2>
    <div style="width:500px;margin:auto">
        <h1 style="font-size: 24px"><b>激活您的帐户</b></h1><br />
        感谢您注册 中天教育！<br /><br />
        <b><span style="font-size:28px">您的验证码：dasd</span></b><br /><br />
        <span>确认后，您可以使用新帐户登录 中天教育 开始您的学习之旅</span>
    </div>
</div>

