
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/title.ico" rel="icon" type="image/x-icon" />
    <title>中天教育</title>
    <link href="~/script/bootstrap.min.css" rel="stylesheet" />
    <script src="~/script/jquery-3.4.1.min.js"></script>
    <script src="~/script/bootstrap.min.js"></script>
    <link href="~/content/Index.css" rel="stylesheet" />
</head>
<body>
    <div>
        <nav class="nav navbar text-white bg-secondary sticky-top">
            <span>中天教育</span>
            <div class="justify-content-end mr-5">
                <input type="text" name="name" placeholder="  Search" style="border-radius:20px; border:0;" class="mr-2" />
                <a href="/Login/Login" class="text-white">登录</a>&emsp;|&emsp;
                <u><a href="/Member/Register" class="text-white text-warning">注册</a></u>
            </div>
        </nav>
        <div class="container">
            <div class="card row">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="col-3 bg-dark bg-dark enum shadow-lg">
                            <div class="text-white-50 mt-4 ml-3">
                                <span>前沿 / 区块链 / 人工智能 </span>
                            </div>
                            <div class="text-white-50 mt-3 ml-3">
                                <span>前端 / 小程序 / JS </span>
                            </div>
                            <div class="text-white-50 mt-3 ml-3">
                                <span>后端 / JAVA / Python </span>
                            </div>
                            <div class="text-white-50 mt-3 ml-3">
                                <span>移动 / Android / IOS </span>
                            </div>
                            <div class="text-white-50 mt-3 ml-3">
                                <span>云计算 / 大数据 / 容器 </span>
                            </div>
                            <div class="text-white-50 mt-3 ml-3">
                                <span>运维 / 测试 / 数据库 </span>
                            </div>
                            <div class="text-white-50 mt-3 ml-3">
                                <span>UI设计 / 3D动画 / 游戏 </span>
                            </div>
                        </div>
                        <!-- 焦点大图 -->
                        <div id="carousels" class="carousel slide shadow-lg col-9" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousels" data-slide-to="0" class="active"></li>
                                <li data-target="#carousels" data-slide-to="1"></li>
                                <li data-target="#carousels" data-slide-to="2"></li>
                                <li data-target="#carousels" data-slide-to="3"></li>
                                <li data-target="#carousels" data-slide-to="4"></li>
                                <li data-target="#carousels" data-slide-to="5"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/image/b_log/001.jpg" class="d-block w-100" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/image/b_log/002.jpg" class="d-block w-100" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/image/b_log/003.jpg" class="d-block w-100" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/image/b_log/004.jpg" class="d-block w-100" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/image/b_log/005.jpg" class="d-block w-100" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/image/b_log/006.jpg" class="d-block w-100" alt="">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carousels" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousels" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!-- end 焦点大图 -->
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <div class="row">
                <h2 class="d-inline-block">零基础就业</h2><span class="text-secondary pt-2">&emsp;从入门到具备1年开发经验</span>
            </div>
            <div class="row">
                <!-- 零基础就业 -->
                <div class='path-list clearfix'>
                    <a href="#">
                        <i class="i-web"></i>
                        <p class="tit">前端工程师体系课</p>
                        <p class="desc">从0到前端全栈开发</p>
                        <div class="label2020"></div>
                    </a>
                    <a href="#">
                        <i class="i-java"></i>
                        <p class="tit">Java工程师体系课</p>
                        <p class="desc">从0到胜任大厂Java岗位</p>
                        <div class="label2020"></div>
                    </a>
                    <a href="#">
                        <i class="i-python"></i>
                        <p class="tit">Python工程师体系课</p>
                        <p class="desc">从0到Python全栈开发</p>
                        <div class="label2020"></div>
                    </a>
                    <a href="#">
                        <i class="i-bigdata"></i>
                        <p class="tit">大数据工程师体系课</p>
                        <p class="desc">抢占高薪“大”机遇</p>
                        <div class="label2020"></div>
                    </a>
                </div>
            </div>
            <!-- end 零基础就业 -->
            <!-- 职场提升 -->
            <div class="row mt-4">
                <h2 class="d-inline-block">职场提升</h2><span class="text-secondary pt-2">&emsp;1年以上开发经验系统成长</span>
            </div>
            <div class="recommend-box row">
                <a href="#">
                    <img src="~/image/Tourist-Img/index_javafullstack.png" height="90" alt="" />
                </a>
                <a href="#">
                    <img src="~/image/Tourist-Img/index_javaarchitect.png" class="ml-1" height="90" alt="" />
                </a>
                <a href="#">
                    <img src="~/image/Tourist-Img/index_webfullstack.png" class="ml-1" height="90" alt="" />
                </a>
                <a href="#">
                    <img src="~/image/Tourist-Img/index_dataanalysis.png" class="ml-1" height="90" alt="" />
                </a>
            </div>
            <!-- end 职场提升 -->
        </div>

        <div class="ContentCourse mt-4">
            <div class="container">
                <div class="row">
                    <h2 class="mt-4">新上好课</h2>
                </div>

                <div class="row ml-5 mb-3">
                    <div class='index-card-container course-card-container container'>
                        <a class='course-card' href="#">
                            <div class="course-stat new">
                                新课
                            </div>
                            <div class='course-card-top hashadow'>
                                <img class="course-banner w-100" src="~/image/Tourist-Img/10.png">
                                <div class="course-label">
                                    <label>PHP</label>
                                </div>
                            </div>
                            <div class="Coursetitle">
                                <b>Laravel重构企业级电商项目</b>
                            </div>
                            <div class="text-secondary text-right">
                                11
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                    <path fill-rule="evenodd" d="M8.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                            </div>
                            <div>
                                <span class="text-danger font-weight-bold">￥388.00</span><span class="sales-tip">限时优惠</span>
                            </div>
                        </a>
                    </div>

                    <div class='index-card-container course-card-container container'>
                        <a class='course-card' href="#">
                            <div class="course-stat new">
                                新课
                            </div>
                            <div class='course-card-top hashadow'>
                                <img class="course-banner w-100" src="~/image/Tourist-Img/15.jpg">
                                <div class="course-label">
                                    <label>Vue.js</label>
                                    <label>Typescript</label>
                                </div>
                            </div>
                            <div class="Coursetitle">
                                <b>Vue3.0（正式版） + TS 仿知乎专栏企业级项目</b>
                            </div>
                            <div class="text-secondary text-right">
                                110
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                    <path fill-rule="evenodd" d="M8.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                            </div>
                            <div>
                                <span class="text-danger font-weight-bold">￥388.00</span><span class="sales-tip">限时优惠</span>
                            </div>
                        </a>
                    </div>

                    <div class='index-card-container course-card-container container'>
                        <a class='course-card' href="#">
                            <div class="course-stat new">
                                新课
                            </div>
                            <div class='course-card-top hashadow'>
                                <img class="course-banner w-100" src="~/image/Tourist-Img/13.jpg">
                                <div class="course-label">
                                    <label>CSS3</label>
                                    <label>Vue.js</label>
                                </div>
                            </div>
                            <div class="Coursetitle">
                                <b>体系课-数据可视化入门到精通-打造前端差异化竞争力</b>
                            </div>
                            <div class="text-secondary text-right">
                                22
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                    <path fill-rule="evenodd" d="M8.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                            </div>
                            <div>
                                <span class="text-danger font-weight-bold">￥388.00</span><span class="sales-tip">限时优惠</span>
                            </div>
                        </a>
                    </div>

                    <div class='index-card-container course-card-container container'>
                        <a class='course-card' href="#">
                            <div class="course-stat new">
                                新课
                            </div>
                            <div class='course-card-top hashadow'>
                                <img class="course-banner w-100" src="~/image/Tourist-Img/14.png">
                                <div class="course-label">
                                    <label>计算机视觉</label>
                                    <label>自然语言处理</label>
                                </div>
                            </div>
                            <div class="Coursetitle">
                                <b>PyTorch入门到进阶 实战计算机视觉与自然语言处理项目</b>
                            </div>
                            <div class="text-secondary text-right">
                                333
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                    <path fill-rule="evenodd" d="M8.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                            </div>
                            <div>
                                <span class="text-danger font-weight-bold">￥388.00</span><span class="sales-tip">限时优惠</span>
                            </div>
                        </a>
                    </div>

                    <div class='index-card-container course-card-container container'>
                        <a class='course-card' href="#">
                            <div class="course-stat new">
                                新课
                            </div>
                            <div class='course-card-top hashadow'>
                                <img class="course-banner w-100" src="~/image/Tourist-Img/16.png">
                                <div class="course-label">
                                    <label>微服务</label>
                                    <label>Spring Cloud</label>
                                </div>
                            </div>
                            <div class="Coursetitle">
                                <b>Spring Cloud分布式微服务实战，养成应对复杂业务的综合技术能力</b>
                            </div>
                            <div class="text-secondary text-right">
                                12
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                    <path fill-rule="evenodd" d="M8.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                            </div>
                            <div>
                                <span class="text-danger font-weight-bold">￥388.00</span><span class="sales-tip">限时优惠</span>
                            </div>
                        </a>
                    </div>

                    <div class='index-card-container course-card-container container'>
                        <a class='course-card' href="#">
                            <div class="course-stat new">
                                新课
                            </div>
                            <div class='course-card-top hashadow'>
                                <img class="course-banner w-100" src="~/image/Tourist-Img/18.jpg">
                                <div class="course-label">
                                    <label>Python</label>
                                </div>
                            </div>
                            <div class="Coursetitle">
                                <b>全面系统Python3.8入门+进阶  (程序员必备第二语言)</b>
                            </div>
                            <div class="text-secondary text-right">
                                45
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                    <path fill-rule="evenodd" d="M8.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                            </div>
                            <div>
                                <span class="text-danger font-weight-bold">￥388.00</span><span class="sales-tip">限时优惠</span>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="height:290px; width:585px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel"></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group text-center">
                            已有帐号<a href="/Login/Login">&nbsp;前往登录</a>&emsp;
                            没有账号<a href="/Member/Register">&nbsp;前往注册</a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭 </button>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <div>
            <nav class="nav navbar text-white bg-secondary fixed-bottom navbottom">
                <div class="float-left ml-5">使用条款 | 隐私保护</div>
                <div class="float-right mr-5">©&nbsp;2020&nbsp;（武汉）中天教育服务有限公司&emsp;鄂ICP备0000000号</div>
            </nav>
        </div>
    </div>
    <script>
        $("a").click(() => {
            $("#myModal").modal({ backdrop: "static" });
        })
    </script>
</body>
</html>
