
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/title.ico" rel="icon" type="image/x-icon" />
    <title>中天教育</title>
    <link href="~/script/bootstrap.min.css" rel="stylesheet" />
    <script src="~/script/jquery-3.4.1.min.js"></script>
    <script src="~/script/bootstrap.min.js"></script>
    <style type="text/css">
        * {
            margin: 0 0;
        }

        #carousels {
            margin: auto;
            width: 50%;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
        }

            #carousels img {
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
            }

        .card-body .enum {
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }

        .card {
            border: 0;
        }
        /**/
        a:hover {
            text-decoration: none;
        }

        .clearfix:after {
            content: '\0020';
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .clearfix {
            *zoom: 1;
        }

        .path-list {
            margin-top: 24px;
        }

            .path-list i {
                float: left;
                width: 50px;
                height: 50px;
                background: url(/image/Tourist-Img/path-2019-9.png) no-repeat;
                background-size: 100%;
                margin-left: 16px;
                margin-right: 12px;
            }

            .path-list .i-web {
                background-position: center 0;
            }

            .path-list .i-java {
                background-position: center -50px;
            }

            .path-list .i-bigdata {
                background: url(/image/Tourist-Img/bigdata.png) no-repeat;
                background-size: cover;
            }

            .path-list .i-php {
                background-position: center -200px;
            }

            .path-list .i-python {
                background-position: center -100px;
            }

            .path-list .i-fullstack {
                background-position: center -200px;
            }

            .path-list > a {
                float: left;
                margin-left: 18px;
                font-size: 0;
                display: block;
                width: 270px;
                padding-top: 20px;
                box-sizing: border-box;
                height: 90px;
                overflow: hidden;
                transition: all .3s;
                background: #F3F5F6;
                border-radius: 8px;
                position: relative;
            }

                .path-list > a .label2020 {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    width: 48px;
                    height: 18px;
                    background-image: url(/image/Tourist-Img/class_2020.png);
                    background-size: cover;
                    background-position: center center;
                }

                .path-list > a:hover {
                    box-shadow: 0px 4px 8px #0000001f;
                }

                .path-list > a:first-child {
                    margin-left: 0;
                }

            .path-list .tit {
                font-size: 18px;
                font-weight: bold;
                color: #1C1F21;
                margin-top: 0px;
            }

            .path-list .desc {
                font-size: 14px;
                color: #1C1F21;
                line-height: 16px;
                margin-top: -15px;
                font-weight: 400;
            }

        .container-types .recommend-box {
            margin-top: 24px;
            margin-left: 0px;
        }

        .container-types .recommend-box {
            width: 270px;
            height: 90px;
            margin-right: 24px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .recommend-box a {
            margin-left: 10px;
        }

        .container-types .recommend-box a:last-child {
            margin-right: 0;
        }
        /**/
    </style>
</head>
<body>
    <div>
        <nav class="nav navbar text-white bg-secondary">
            <span>中天教育</span>
            <div class="justify-content-end mr-5">
                <input type="text" name="name" placeholder="  Search" style="border-radius:20px; border:0;" class="mr-2" />
                <a href="/Login/Login" class="text-white">登录</a>&emsp;|&emsp;
                <u><a href="/Member/Register" class="text-white text-warning">注册</a></u>
            </div>
        </nav>
        <div class="container">
            <div class="card row">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="col-3 bg-dark bg-dark enum shadow-lg">
                            <div class="text-white-50 mt-4 ml-3">
                                <span>前沿 / 区块链 / 人工智能 </span>
                            </div>
                            <div class="text-white-50 mt-3 ml-3">
                                <span>前端 / 小程序 / JS </span>
                            </div>
                            <div class="text-white-50 mt-3 ml-3">
                                <span>后端 / JAVA / Python </span>
                            </div>
                            <div class="text-white-50 mt-3 ml-3">
                                <span>移动 / Android / IOS </span>
                            </div>
                            <div class="text-white-50 mt-3 ml-3">
                                <span>云计算 / 大数据 / 容器 </span>
                            </div>
                            <div class="text-white-50 mt-3 ml-3">
                                <span>运维 / 测试 / 数据库 </span>
                            </div>
                            <div class="text-white-50 mt-3 ml-3">
                                <span>UI设计 / 3D动画 / 游戏 </span>
                            </div>
                        </div>
                        <!-- 焦点大图 -->
                        <div id="carousels" class="carousel slide shadow-lg col-9 bg-info" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousels" data-slide-to="0" class="active"></li>
                                <li data-target="#carousels" data-slide-to="1"></li>
                                <li data-target="#carousels" data-slide-to="2"></li>
                                <li data-target="#carousels" data-slide-to="3"></li>
                                <li data-target="#carousels" data-slide-to="4"></li>
                                <li data-target="#carousels" data-slide-to="5"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/image/b_log/001.jpg" class="d-block w-100" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/image/b_log/002.jpg" class="d-block w-100" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/image/b_log/003.jpg" class="d-block w-100" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/image/b_log/004.jpg" class="d-block w-100" alt=""> 
                                </div>
                                <div class="carousel-item">
                                    <img src="~/image/b_log/005.jpg" class="d-block w-100" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/image/b_log/006.jpg" class="d-block w-100" alt="">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carousels" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousels" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!-- end 焦点大图 -->
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <div class="row">
                <h2 class="d-inline-block">零基础就业</h2><span class="text-secondary pt-2">&emsp;从入门到具备1年开发经验</span>
            </div>
            <div class="row">
                <!-- 零基础就业 -->
                <div class='path-list clearfix'>
                    <a href='' target="_blank" data-track='ljtj-1-1'>
                        <i class="i-web"></i>
                        <p class="tit">前端工程师体系课</p>
                        <p class="desc">从0到前端全栈开发</p>
                        <div class="label2020"></div>
                    </a>
                    <a href=''>
                        <i class="i-java"></i>
                        <p class="tit">Java工程师体系课</p>
                        <p class="desc">从0到胜任大厂Java岗位</p>
                        <div class="label2020"></div>
                    </a>
                    <a href=''>
                        <i class="i-python"></i>
                        <p class="tit">Python工程师体系课</p>
                        <p class="desc">从0到Python全栈开发</p>
                        <div class="label2020"></div>
                    </a>
                    <a href=''>
                        <i class="i-bigdata"></i>
                        <p class="tit">大数据工程师体系课</p>
                        <p class="desc">抢占高薪“大”机遇</p>
                        <div class="label2020"></div>
                    </a>
                </div>
            </div>
            <!-- end 零基础就业 -->
            <!-- 职场提升 -->
            <div class="row mt-4">
                <h2 class="d-inline-block">职场提升</h2><span class="text-secondary pt-2">&emsp;1年以上开发经验系统成长</span>
            </div>
            <div class="row">
                <div class="recommend-box">
                    <a href="" target="_blank">
                        <img src="~/image/Tourist-Img/index_javafullstack.png" height="90" alt="" />
                    </a>
                    <a href="" target="_blank">
                        <img src="~/image/Tourist-Img/index_javaarchitect.png" height="90" alt="" />
                    </a>
                    <a href="" target="_blank">
                        <img src="~/image/Tourist-Img/index_webfullstack.png" height="90" alt="" />
                    </a>
                    <a href="" target="_blank">
                        <img src="~/image/Tourist-Img/index_dataanalysis.png" height="90" alt="" />
                    </a>
                </div>
            </div>
            <!-- end 职场提升 -->
        </div>
    </div>
</body>
</html>
