@model Midheaven.Models.Member
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
<<<<<<< HEAD
    <title>学生首页</title>
    <style type="text/css">

    </style>
</head>
<body>
    <div>
        <div class="login">

        </div>
    </div>
=======
    <title>MemberByStudent</title>
    <link href="~/script/bootstrap.min.css" rel="stylesheet" />
    <script src="~/script/jquery-3.4.1.min.js"></script>
    <script src="~/script/bootstrap.bundle.min.js"></script>
</head>
<body>
    学生
>>>>>>> bed04a197fb151671c3f823399fb2bc5f2a3f3af
</body>
</html>

