@model Midheaven.Models.Member
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>学生首页</title>
    <link href="~/script/bootstrap.min.css" rel="stylesheet" />
    <script src="~/script/jquery-3.4.1.min.js"></script>
    <script src="~/script/bootstrap.bundle.min.js"></script>
    <link href="~/content/Student.css" rel="stylesheet" />
    <style type="text/css">
    </style>
</head>
<body>
     <div class="nav">
        <div class="log">
            中天教育
        </div>
        <ul class="nav-item">
            <li><a href="#">首页</a></li>
            <li><a href="#">帮助</a></li>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">个人中心</a></li>
        </ul>
        <ul class="info">
            <li>
                <input type="text" class="form-control mr-sm-2" placeholder="搜索感兴趣的课程" />
            </li>
            <li>
                <button class="gray-btn">查询</button>
            </li>
        </ul>
    </div>
    @*<div class="des img-box">*@
        <!-- JQUERY 图片滚动预览 -->
        @*<img src="~/img/IMG_4925(20201003-124454).JPG" />
    </div>*@
     <section class="content">
         <div class="right">
             @*@foreach (var item in collection)
             {
                 <div class="hd img-box">
                     <img src="~/img/IMG_2713(20200502-215411).JPG" />
                 </div>
                 <div class="td">
                     <div>
                         <h3>Java</h3>
                     </div>
                     <div>
                         <span>热门</span>
                         <div>
                             <button class="gray-btn">加入课程</button>
                             <button class="white-btn">进入预览</button>
                         </div>
                     </div>
                 </div>
             }*@
             <ul>
                 <li>
                     <div class="hd img-box">
                         <img src="~/img/IMG_2713(20200502-215411).JPG" />
                     </div>
                     <div class="td">
                         <div>
                             <h3>Java</h3>
                         </div>
                         <div>
                             <span>热门</span>
                             <div>
                                 <button class="gray-btn">加入课程</button>
                                 <button class="white-btn">查看选课</button>
                             </div>
                         </div>
                     </div>
                 </li>
                 <li>
                     <div class="hd img-box">
                         <img src="~/img/IMG_2713(20200502-215411).JPG" />
                     </div>
                     <div class="td">
                         <div>
                             <h3>JQuery</h3>
                         </div>
                         <div>
                             <span>热门</span>
                             <div>
                                 <button class="gray-btn">加入课程</button>
                                 <button class="white-btn">查看选课</button>
                             </div>
                         </div>
                     </div>
                 </li>
                 <li>
                     <div class="hd img-box">
                         <img src="~/img/IMG_2713(20200502-215411).JPG" />
                     </div>
                     <div class="td">
                         <div>
                             <h3>Asp.net</h3>
                         </div>
                         <div>
                             <span>热门</span>
                             <div>
                                 <button class="gray-btn">加入课程</button>
                                 <button class="white-btn">查看选课</button>
                             </div>
                         </div>
                     </div>
                 </li>

             </ul>
         </div>
     </section>
    <script src="~/Css/index.js"></script>
    <script src="~/Css/jquery.min.js"></script>
    <script>
        $(function () {
            // PicScroll
            new PicScroll('.img-box', { speedUp: 800, speedDown: 500 })
        });
    </script>
</body>
</html>

