
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>学生首页</title>
    <link href="~/script/bootstrap.min.css" rel="stylesheet" />
    <script src="~/script/jquery-3.4.1.min.js"></script>
    <script src="~/script/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div></div>
</body>
</html>

