
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/title.ico" rel="icon" type="image/x-icon" />
    <title>中天教育—注册</title>
    <link href="~/content/zhuce.css" rel="stylesheet" />
    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/script/jquery-3.4.1.min.js"></script>
</head>

<body>
    <div class="main">
        <div class="main0">
            <div class="main_left">
                <img src="~/image/login/zhuce-image-3.png" class="theimg" />
                <img src="~/image/login/zhuce-image-2.png" class="secimg" />
                <img src="~/image/login/zhuce-image-1.png" class="firimg" />
            </div>
            <div class="main_right mr-3">
                <div class="main_r_up">
                    <img src="~/image/login/user.png" />
                    <div class="pp">注册</div>
                </div>
                <div class="sub"><p>已经注册？<a href="/Login/Login"><span class="blue">请登录</span></a></p></div>
                <div class="txt txt0">
                    <span style="float:left">邮&emsp;箱:</span>
                    <input name="Email" id="Email" type="text" placeholder="请输入邮箱" class="txtyzmdx" />
                    <button class="emailCode" id="emailCode">获取验证码</button>&nbsp;<label id="emailPrompt" class="text-danger"></label>
                </div>
                <form method="post">
                    <div class="txt txt0">
                        <span style="letter-spacing:8px;">验证码:</span>
                        <input name="EmailCode" id="EmailCode" type="text" class="txtphone" placeholder="请输入验证码" /><label id="codePrompt" class="text-danger"></label>
                    </div>
                    <div class=" txt0">
                        <span style="font-size:14px;color:#666;">用户类型：</span>&emsp;&emsp;
                        <label class="col-form-label"> @Html.RadioButton("radRole", "2")<span>教师</span></label>&emsp;
                        <label class="col-form-label"> @Html.RadioButton("radRole", "3")<span>学生</span></label>&emsp;
                    </div>
                    <div class="txt txt0">
                        <span style="letter-spacing:8px;">用户名:</span>
                        <input name="uName" id="uName" type="text" class="txtphone" placeholder="请输入用户名" />
                    </div>
                    <div class="txt txt0">
                        <span style="letter-spacing:4px;">登录密码:</span>
                        <input name="uPwd" id="uPwd" type="text" class="txtphone" placeholder="请输入密码" />
                    </div>
                    <div class="txt txt0">
                        <span style="letter-spacing:4px;">确认密码:</span>
                        <input name="uPwd1" id="uPwd1" type="text" class="txtphone" placeholder="请再次输入密码" /><label id="pwdlPrompt" class="text-danger"></label>
                    </div>
                    <div class="txt txt0">
                        <button id="ZC" type="button" class="zhucebtn">注册</button><label id="login" class="ml-2 mt-2"></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer0">
            <div class="footer_l">使用条款 | 隐私保护</div>
            <div class="footer_r">©&nbsp;2020&nbsp;（武汉）中天教育服务有限公司&emsp;鄂ICP备0000000号</div>
        </div>
    </div>
    <script src="~/script/Register.js"></script>
</body>
</html>
